
.search.search-reserve {
  top: 100px;
}

.section-reserve {
  top: 240px;
  position: absolute;
  padding: 20px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  width: 100%;
  background-color: transparent;
  gap: 35px;
}

.article-reserve {
  background-color: rgb(255, 255, 255);
  gap: 20px;
  display: flex;
  justify-content: center;
  margin: 0px 60px 0px 60px;
  align-items: center;
  height: 200px;
  border-radius: 8px;
  border: none;
}

.img-reserve {
  height: 170px;
  width: 120px;
  background-color: #213a55;
  border-radius: 8px;
}

.div-content {
  justify-content: center;
  width: 63%;
  display: flex;
  gap: 80px;
  height: 75%;
}

.btn-reser {
  margin-right: 50px;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: black;
  font-size: 14px;
  transition: 0.1s;
}

.btn-reser:hover {
  background-color: #24853d;
} 

.date-re {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8e0e7;
  border: 1px solid gray;
  width: 125px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

.date-time {
  width: 150px;
  height: 29px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  background-color: #d8e0e7;
}

.select-date {
  width: 60px;
  height: 26px;
  border-radius: 5px;
}

.div-buttons {
  gap: 30px;
  margin-left: 10px;
  display: flex;
  height: 100%;
  width: 150x;
  justify-content: center;
  flex-direction: column;
}

.btn-delete {
  margin-right: 50px;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: black;
  font-size: 14px;
  transition: 0.1s;
}

.btn-delete:hover {
  background-color: rgb(230, 94, 94);
}

.title-h1 {
  width: 100px;
}