.search-books-section {
  display: flex;
<<<<<<< HEAD
  padding-top: 20px;
  padding-bottom: 20px;
=======
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
  height: 100%;
  width: 100%;
  justify-content: center;
  position: relative;
<<<<<<< HEAD
  bottom: 380px;
=======
  bottom: 300px;
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
}

.search-books-div {
  display: grid;
<<<<<<< HEAD
  margin-left: 45px;
=======
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  row-gap: 60px;
  column-gap: 60px;
}

<<<<<<< HEAD
.div-key {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.img-class {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100%; 
}

.div-img {

  width: 218px;
=======
.div-img {
  width: 218px;
   background-image: url('https://m.media-amazon.com/images/I/81f1yLVVQRL._AC_UF1000,1000_QL80_.jpg'); 
  /* background-color: aquamarine; */
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
  background-size: cover;
}

.h1-article {
<<<<<<< HEAD
  font-size: 20px;
=======
  font-size: 23px;
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-books-article {
<<<<<<< HEAD
  overflow: auto;
=======
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
  gap: 30px;
  display: flex;
  border-radius: 8px;
  background-color: rgb(231, 238, 236);
<<<<<<< HEAD
  min-height: 300px;
  width: 500px;
  
}

.btn-like {
  background: transparent;
  width: 20px;
  height: 20px;
  border-style: none;
  border-radius: 100%;
  cursor: pointer;
}

.p-description {
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: justify
}

.icon-like {
  transition: 0.3s;
  font-size: 15px;
}

.icon-like:hover {
  color: rgb(219, 211, 46);
}

.like-div {
  margin-bottom: 15px;
  position: absolute;
  bottom: 0;
  gap: 8px;
  width: 95%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.likeCount {
  font-weight: bold;
  font-size: 15px;
}

.labels-container {
  display: flex;
  gap: 20px;
  font-weight: bold;
=======
  height: 300px;
  width: 500px;
}

.labels-container {
    display: flex;
    gap: 20px;
    font-weight: bold;
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
}

.data-books {
  width: 290px;
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
}

.data {
  display: flex;
  gap: 10px;
<<<<<<< HEAD
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}
=======
  flex-direction: column;
  margin-bottom: 20px;
}

.div2-img {
  width: 218px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYYjCv4FLppndBUwrAKKgPBfxFBpA4mnRQ6A&s');
}

.div3-img {
  width: 218px;
  background-image: url('https://bukz.co/cdn/shop/products/978841268390.jpg?v=1687832187&width=500');
  background-size: cover;
}

.div4-img {
  width: 218px;
  background-image: url('https://www.lascosasquenoshacenfelices.com/wp-content/uploads/2016/09/geralt-690x1024.jpg');
  background-size: cover;
}

.div5-img {
  width: 218px;
  background-image: url('https://es.web.img2.acsta.net/img/fe/00/fe00d709777ed4c4adb0e004bb5f16d6.jpg');
  background-size: cover;
}
>>>>>>> e25c9bffbc2786cfa7dcc733a2c7b45059368ebb
